{% extends 'base.html' %}

{% block title %} 
    Tasks
{% endblock %}

{% block head %}  
    <h2> {{fechaActual}} </h2>
{% endblock %} 

{%block content %}
    <h1>Todas las tasks</h1>
    <hr>
    <ul>

        {% for task in tasks %}

        <h3>Task:</h3>
        <ul>
            <li>{{task.title}}</li>
        </ul>
        <h3>Descripción:</h3>
        <ul>
            <li>{{task.description}}</li>
        </ul>
        <h3>País:</h3>
        <ul>
            <li>{{task.pais}}</li>
        </ul>
        <h3>Estado:</h3>
        <ul>
            <li>{{task.estado}}</li>
        </ul>
        <hr>
        <br>

            

        {% endfor %}
            

    </ul>

<a href="/tasks/addtask/">new task</a>

{% endblock %}
    
    