{% extends 'base.html' %}

{% block title %} 
    tasks
{% endblock %}

{% block head %}  
    <h2> {{fechaActual}} </h2>
{% endblock %} 

{%block content %}
    <h1>tasks</h1>
    <ul>

        {% for task in tasks %}

        <h3>task</h3>
        <ul>
            <li>{{task.title}}</li>
        </ul>
        <h3>descripción</h3>
        <ul>
            <li>{{task.description}}</li>
        </ul>
        <br>

            

        {% endfor %}
            

    </ul>

<a href="/tasks/addtask/">new task</a>

{% endblock %}
    
    